@{
    ViewData["Title"] = "Cake Factory";
}

@section PageStyle { 
    <link rel="stylesheet" href="~/css/cakeFactory.css" />
}

@section Scripts { 
    <script src="~/js/cakeFactory.js"></script>
}

<section id="factoryMonitor">
    <header><h4>Monitoring</h4></header>
    <div>
        <header><h5>Meters</h5></header>
        <article class="d-flex justify-content-around align-items-center">
            <div id="preparationMonitor" class="stageBlock">
                
            </div>
            <div id="cuissonMonitor" class="stageBlock">

            </div>
            <div id="emballageMonitor" class="stageBlock">

            </div>
        </article>
    </div>
    <aside>
        <header><h5>Commands</h5></header>
        <div class="d-flex justify-content-center align-items-center">
            <button>Start factory</button>
            <button>Stop factory</button>
        </div>
    </aside>
</section>